.tab button {
    color: #ccc;
}
.tab button.active {
    background-color: #ccc;
    color: #000;
    filter: brightness(115%);
}

button:hover {
    background-color: #ccc;
    color: #000;
    filter: brightness(115%);
    transition-duration: 0.4s;

}
.avator {
    border-radius:100px;
    width:48px;
    margin-right: 15px;
}

.tweet-wrap {
max-width:490px;
margin-top: 50px;
border-radius:3px;
padding: 30px;
border-bottom: 1px solid #000;
border-top: 1px solid #000;
}

.tweet-header {
display: flex;
align-items:flex-start;
font-size:14px;
}
.tweet-header-info {
font-weight:bold;
}
.tweet-header-info span {
color:#657786;
font-weight:normal;
margin-left: 5px;
}
.tweet-header-info p {
font-weight:normal;
margin-top: 5px;

}
.tweet-img-wrap {
padding-left: 60px;
}

.tweet-info-counts {
display: flex;
margin-left: 60px;
margin-top: 10px;
}
.tweet-info-counts div {
display: flex;
margin-right: 20px;
}
.tweet-info-counts div svg {
color:#657786;
margin-right: 10px;
}
.followStatus {
    position: absolute;
    right: 0;
    margin-right: 600px;
}
a .feather {
    cursor: pointer;
}
@media screen and (max-width:430px){
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .tweet-header {
        flex-direction:column;
    }
    .tweet-header img {
        margin-bottom: 20px;
    }
    .tweet-header-info p {
        margin-bottom: 30px;
    }
    .tweet-img-wrap {
        padding-left: 0;
    }
    .tweet-info-counts {
    display: flex;
    margin-left: 0;
    }
    .tweet-info-counts div {
    margin-right: 10px;
    }
}
@media screen and (max-width:1024px){
    .followStatus {
    position: absolute;
    right: 0;
    margin-right: 400px;
    }
}
@media screen and (max-width:768px){
    .followStatus {
    position: absolute;
    right: 0;
    margin-right: 220px;
    }
}
@media screen and (max-width:425px){
    .followStatus {
        position: relative;
        right: 5px;
    }
}