@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.content {
    height: 100%;
    position: fixed;
    left: 100px;
    top: 50px;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 290px;
    display: block;
    background-color: #161f27;
    border-radius: 25px;
    padding-bottom: 35px;
}

.sidebar__brand {
    color: #1DA1F2;
    font-size: 38px;
    padding-left: 35px;
    padding-top: 35px;
}

.sidebar__item {
    display: flex;
    text-decoration: none;
    margin-top: 25px;
    padding-right: 15px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #161f27;
    border-radius: 100px;

}

.sidebar__item:hover {
    background-color: #519BDF33;
    border-radius: 100px;
    width: fit-content;
    outline: none;
}

.sidebar__item:hover i,
.sidebar__item:hover span {
    color: #1DA1F2 !important;
    outline: none;
}

.sidebar__item.active {
    background-color: #519BDF33;
    color: #1DA1F2 !important;
    border-radius: 100px;
    width: fit-content;
    outline: none;
}

.sidebar__item.active i,
.sidebar__item.active span {
    color: #1DA1F2 !important;
    outline: none;
}

.sidebar__item__icon {
    display: flex;
    align-items: center;
    color: #5B5C5E;
    font-size: 28px !important;
}

.sidebar__item__text {
    display: flex;
    align-items: center;
    color: #ccc;
    font-weight: bold;
    padding-left: 25px;
    font-size: 20px;
}

.avatorSmall {
    border-radius: 100px;
    width: 25px;
    height: 25px;
}